.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 60px;
  margin: auto;
}

.category__card {
  border-radius: 5px;
  color: #212529;
  font-family: LatoBold, sans-serif;
  font-size: 24px;
  text-decoration: none;
  background-color: gray;
  margin: 5px;
  perspective: 600px;
}

.category__card:hover {
  background-color: green;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.green.category__card {
  background-color: green;
}

.card {
  width: 250px;
  height: 250px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  backface-visibility: hidden;
}

.card__face--back {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  transform: rotateY(180deg);
}

.card__text {
  margin-top: 167px;
  padding: 0 15px;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  background: #fff;
  color: #212529;
}

.card__rotate {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/rotate.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  bottom: 5px;
  right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  // background: gray;
}

.hidden {
  display: none;
}

.card__cover {
  background-size: cover;
  background-position: 50%;
}

.cards__button-game {
  margin: 30px auto 0;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}