.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 25px;
}

.category__card {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  color: #212529;
  font-size: 24px;
  text-decoration: none;
  margin: 10px;
  perspective: 600px;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: orange;
}

.green.category__card,
.green.card {
  background-color: green;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  transition: transform 1s;
  // transition: background-color .2s ease .1s;
  transform-style: preserve-3d;
  background-color: rgba(128, 128, 128, 0.8);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card.is-flipped-2 {
  transform: rotateY(180deg);
}

.card__face {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card__text {
  margin-top: 185px;
  padding: 0 15px;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  color: white;
  border-radius: 5px;
}

.card__rotate {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/rotate.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 5px;
  right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.card__rotate:hover {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}

.hidden {
  display: none;
}

.card__cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.cards__button-game {
  margin: 30px auto 10px;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.darkred {
  background-color: darkred;
}

.darkred:hover {
  background-color: darkred;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 40px;
  overflow-y: hidden;
  margin: 0 40px;
}

.rating__error {
  height: 40px;
  width: 40px;
  background-image: url('../img/rating/error.png');
  background-size: cover;
  margin: 0 5px;
}

.rating__correct {
  height: 40px;
  width: 40px;
  background-image: url('../img/rating/correct.png');
  background-size: cover;
  margin: 0 5px;
}