.header-container {
  width: 100%;
  background-color: #2A4A8B;
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  padding: 20px 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 125px 50px 40px;
  flex-direction: column;
  text-align: left;
  background-color: #2A4A8B;
  width: 270px;
  height: calc(80% - 20px);
  box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-in;
  transform: translateX(-108%);
  user-select: none;
  z-index: 3;
}

.navigation-active {
  transform: translateX(0);
}

.navigation__item {
  position: relative;
  padding-top: 7px;
}

.navigation__link {
  display: block;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 24px;
  padding: 10px;
  letter-spacing: -0.005rem;
}

.orange-link {
  color: #F59030;
}

.navigation__item a:hover {
  color: #F59030;
}

.active {
  color: red;
}

.hamburger {
  display: block;
  position: relative;
  width: 25px;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;
  color: #ffffff;
}

.hamburger__line {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
}

.hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.hamburger:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.4px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.toggle .hamburger__line {
  opacity: 0;
}

.hamburger.toggle::after {
  transform: rotate(-45deg) translate(2px, -10px);
}

.hamburger.toggle::before {
  transform: rotate(45deg) translate(3px, 11px);
}

span.rotate {
  margin-right: 30px;
  transform: rotate(90deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:after {
  position: absolute;
  content: "PLAY";
  height: 26px;
  width: 26px;
  left: 51px;
  bottom: 2px;
  color: #FFA500;
  font-weight: 600;
  z-index: 1;
}

.switch:before {
  position: absolute;
  content: "TRAIN";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  color: #ccc;
  font-weight: 600;
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}

input:checked+.slider {
  background-color: #FFA500;
}

input:focus+.slider {
  box-shadow: 0 0 1px #FFA500;
}

input:checked+.slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fas,
.far {
  margin-right: 10px;
}