@import 'reset';
@import 'media';
@import 'home';
@import 'header';
@import 'footer';
@import 'main-page';
@import 'category';

body,
html {
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  background: url('../img/main/main-bgc.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}